<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHTTP" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHTTP" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/MathsLibrary/WS/MathsOperations"
        binding="wsHttpBinding" bindingConfiguration="WSHTTP" contract="MathsOperations.IMathsOperations"
        name="WSHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/MathsLibrary/WS/MathsLibOp"
        binding="wsHttpBinding" bindingConfiguration="WSHTTP" contract="MathsOperations.IMathsOperations"
        name="WSHTTP1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8734/MathsLibrary/WS/MathsOpLib"
        binding="wsHttpBinding" bindingConfiguration="WSHTTP" contract="MathsOperations.IMathsOperations"
        name="WSHTTP2">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <!-- The difference between the endpoints is the binding. One will have the binding wsHttpBinding
        while other will have basicHttpBinding -->
      
      <endpoint address="http://localhost:8733/MathsLibrary/Basic/MathsOperations"
        binding="basicHttpBinding" bindingConfiguration="BasicHTTP"
        contract="MathsOperations.IMathsOperations" name="BasicHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>