<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHTTP" maxReceivedMessageSize="819200">
          <!-- readerQuotas are here to prevent error when reading high sized content -->
          <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHTTP" maxReceivedMessageSize="819200">
          <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/AdminServices/WS/AdminServices"
          binding="wsHttpBinding" bindingConfiguration="WSHTTP" contract="AdminServices.IAdminServices"
          name="WSHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:8733/AdminServices/Basic/AdminServices"
          binding="basicHttpBinding" bindingConfiguration="BasicHTTP"
          contract="AdminServices.IAdminServices" name="BasicHTTP" />
    </client>
  </system.serviceModel>
</configuration>