<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHTTP" maxReceivedMessageSize="819200">
          <!-- readerQuotas are here to prevent error when reading high sized content -->
          <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHTTP" maxReceivedMessageSize="819200">
          <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
        </binding>
      </wsHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHTTP">
          <readerQuotas maxStringContentLength="819200" maxDepth="600" maxArrayLength="819200" maxBytesPerRead="819200"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      
      <endpoint address="http://localhost:8733/VelibServices/WS/VelibServices"
          binding="wsHttpBinding" bindingConfiguration="WSHTTP" contract="VelibServices.IVelibServices"
          name="WSHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8733/VelibServices/Basic/VelibServices"
          binding="basicHttpBinding" bindingConfiguration="BasicHTTP" contract="VelibServices.IVelibServices"
          name="BasicHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8733/VelibServices/WSDual/VelibServices" bindingConfiguration="WSDualHTTP" binding="wsDualHttpBinding" contract="VelibServices.IVelibServices" name="WSDualHTTP">
        <identity>
          <userPrincipalName value="MSI-KOVOX\Kovox" />
        </identity>
      </endpoint>

    </client>
  </system.serviceModel>
</configuration>