<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHTTP" maxReceivedMessageSize="819200"/>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/VelibServices/WSDual/VelibServices"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHTTP"
        contract="VelibServices.IVelibServices" name="WSDualHTTP">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>